torch==2.3.1
torchvision==0.18.1

transformers==4.52.4
accelerate==1.7.0
sentencepiece==0.2.0
huggingface_hub==0.33.1

streamlit==1.46.1

fastapi==0.115.13
uvicorn==0.34.3

pandas==2.2.3
numpy==1.26.4
scikit-learn==1.6.1

python-dotenv==1.1.0
tqdm==4.67.1